* {
  font-family: 'Merriweather', serif;
}

body {
  text-align: center;
}

.baner {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: white;
  justify-content: center;
  border-bottom: 1px solid gray;
}

.ban {
  margin: 0 10vw 0 7vw;
}

#ikony {
  text-align: end;
  padding-top: 3vw;
}



nav {
  margin: 0.5vw 0 0.5vw 0;
  text-align: center;
  word-spacing: 1.5vw;
  text-transform: uppercase;
  font-size: 1vw;
}

#menu1 {
  border-bottom: 0.2vw solid;
  padding: 0.5vw;
  box-shadow: 0.6vw 1vw 0.8vw #888888;
}

#onas {
  word-spacing: 0.25vw;
  font-size: x-large;
}

#od {
  word-spacing: 0.25vw;
}

a:link {
  text-decoration: none;
}
a {
  color: black;
  padding: 1vw 0 1vw 0;
}

#b1{
  background-color: tomato;
  height: 3vw;
  width: 8vw;
}

h2 {
  color: goldenrod;
}
.minimenu {
  margin-top: 12.5vw;
}

#minimenu1,
#minimenu2 {
  float: left;
  justify-content: center;
  width: 20vw;
}
#minimenu1 {
  margin-left: 15.5vw;
  margin-right: 6.vw;
}

#minimenu2 {
  margin-top: 4vw;
}
 
.platnosci {
  border: 0.1vw solid gray;
  padding: 1vw;
}

#sociale {
  word-spacing: 2.5vw;
}

.mm {
  word-spacing: 0.25vw;
  font-size: 1.5rem;
  margin-bottom: 1vw;
}
 #zbior_diet{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 60%;
   margin-left: 150px;
 }
 .div_diety{
    z-index: -1;
    padding-top: 70px;
border: 5px solid darkgoldenrod;
width: 270px;
height: 250px;
margin-left: 100px;
 }
.zdjecia_diet{
    top: 110px;
    margin-left: 100px;
    z-index: 2;
    position: relative;
 }
 .button_zobacz_diete{
    background-color: white;
    border-color: crimson;
    color: crimson;
     height: 50px;
     width: 130px;
 }
/* Dla urządzeń o szerokości ekranu mniejszej lub równej 480px */
@media (max-width: 480px) {
  body {
    font-size: 14px;
  }

  .header {
    padding: 10px;
  }

  .sidebar {
    display: none;
  }
}

/* Dla urządzeń o szerokości ekranu większej niż 480px i mniejszej lub równej 768px */
@media (min-width: 481px) and (max-width: 768px) {
  body {
    font-size: 16px;
  }

  .header {
    padding: 20px;
  }

  .sidebar {
    display: block;
    width: 30%;
    float: left;
  }

  .content {
    width: 70%;
    float: left;
  }
}

/* Dla urządzeń o szerokości ekranu większej niż 768px */
@media (min-width: 769px) {
  body {
    font-size: 18px;
  }

  .header {
    padding: 30px;
  }

  .sidebar {
    display: block;
    width: 20%;
    float: left;
  }

  .content {
    width: 80%;
    float: left;
  }
}