* {
   font-family: 'Merriweather', serif;
 }
 
 body {
   text-align: center;
 }
 
 .baner {
   display: grid;
   grid-template-columns: auto auto auto;
   background-color: white;
   justify-content: center;
   border-bottom: 1px solid gray;
 }
 
 .ban {
   margin: 0 10vw 0 7vw;
 }
 
 #ikony {
   text-align: end;
   padding-top: 3vw;
 }
 
 .oferty {
   text-align: center;
 }
 
 nav {
   margin: 0.5vw 0 0.5vw 0;
   text-align: center;
   word-spacing: 1.5vw;
   text-transform: uppercase;
   font-size: 1vw;

 }
 
 .dot {
   height: 1.5vw;
   width: 1.5vw;
   margin: 0 0.4vw;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
 }
 
 .active {
   background-color: #717171;
 }
 
 #menu1 {
   border-bottom: 0.2vw solid;
   padding: 0.5vw;
   box-shadow: 0.6vw 1vw 0.8vw #888888;
 }
 
 #onas {
   word-spacing: 0.25vw;
   font-size: x-large;
 }
 
 #od {
   word-spacing: 0.25vw;
 }
 
 a:link {
   text-decoration: none;
 }
 
 a {
   color: black;
   padding: 1vw 0 1vw 0;
 }
 
 #b1,
 #zalogujp {
   background-color: tomato;
   height: 3vw;
   width: 8vw;
 }
 
 h2 {
   color: goldenrod;
 }
 
 .diety {
   text-align: center;
 }
 
 #dieta1,
 #dieta2,
 #dieta3,
 #dieta4 {
   border: 0.4vw solid goldenrod;
   width: 10vw;
   margin: 2.5vw;
   padding-top: 5vw;
 }
 
 #diety {
   display: grid;
   grid-template-columns: auto auto auto auto;
   justify-content: center;
   z-index: 1;
 }
 
 .zdjdiet {
   padding: 1.5rem;
  top: 20vh;
   
   z-index: 2;
   position: relative;
 }
 
 .zamawiam {
   float: left;
   margin-left: 2vw;
   background-color: red;
   color: white;
   text-transform: uppercase;
   height: 2vw;
   width: 6vw;
   margin-bottom:1vw;
 }
 
 .dt {
   margin-bottom: 2vw;
 }
 
 #zpd {
   background-color: white;
   border: 2px solid black;
   height: 3vw;
   width: 10.5vw;
   color: black;
   font-size: 1rem;
 }
 
 .reklama {
   margin: 2vw;
   text-align: center;
 }
 
 .reklamazdj {
   margin: 1vw;
 }
 
 #dzialanie {
   text-align: center;
 }
 
 .aktualnosci {
   text-align: center;
 }
 
 #naj1,
 #naj2 {
   display: grid;
   grid-template-columns: auto auto;
   justify-content: center;
   margin: 2.5vw;
   padding: 1vw;
 }
 
 .naj {
   display: grid;
   grid-template-columns: auto;
   width: 31vw;
   justify-content: center;
 }
 
 .dsw,
 #zw,
 .zk {
   background-color: white;
   border: 2pxvw solid black;
   height: 3vw;
   width: 10vw;
   color: black;
   font-size: 1rem;
 }
 
 .dsw {
   margin-left: 9vw;
 }
 
 .pakt {
   color: #888888;
 }
 
 #sponsorzy {
   border: 0.1vw solid black;
   margin-left: 17.5vw;
   margin-right: 17.5vw;
   padding-top: 1vw;
   padding-bottom: 1vw;
   margin-bottom: 1vw;
 }
 
 #testowa {
   background-image: url(testowa.jpg);
   margin-left: 10vw;
   margin-right: 10vw;
   height: 10vw;
   color: white;
   padding-top: 3vw;
 }
 
 .dt1 {
   font-size: 3rem;
   margin-bottom: -2.5vw;
   text-transform: uppercase;
 }
 
 .zwc {
   margin-top: 6vw;
   background-color: red;
   color: white;
   height: 3vw;
   width: 9vw;
 }
 
 #dtp2 {
   color: gold;
 }
 
 .opis {
   padding-left: 200px;
   margin-top: 12.5vw;
   width: 44vw;
   justify-content: center;
   margin-left: 15.5vw;
 }
 
 .opish3,
 .opish2 {
   color: goldenrod;
   font-family: 'Kalam', cursive;
 }
 
 .minimenu {
   margin-top: 12.5vw;
 }
 
 #minimenu1,
 #minimenu2 {
   float: left;
   justify-content: center;
   width: 20vw;
 }
 #metody_dostaw{
   width: 60%;
   margin-left: 18vw;
   padding: 2vw;
 }
 
 #minimenu1 {
   margin-left: 15.5vw;
   margin-right: 6.vw;
 }
 
 #minimenu2 {
   margin-top: 4vw;
 }
 
 .platnosci {
   border: 0.1vw solid gray;
   padding: 1vw;
 }
 
 #sociale {
   word-spacing: 2.5vw;
 }
 
 .mm {
   word-spacing: 0.25vw;
   font-size: 1.5rem;
   margin-bottom: 1vw;
 }
 
 #kalk {
   width: 60%;
   margin-left: 20vw;
 }
 
 .kalkulatory {
   padding: 2vw;
   border: 0.5vw solid goldenrod;
   margin: 1vw;
   display: grid;
   grid-template-columns: auto auto auto;
 }
 
 .zk {
   margin-top: 20%;
 }
 
 .h2ip {
   margin: 0 1vw 0 1vw;
   text-align: start;
 }
 
 .h2srodek {
   color: black;
 }
 
 #h2kalk {
   text-align: start;
   margin-left: 1%;
   color: black;
 }
 
 #logowanie {
   width: 90%;
 }
 
 #rejestracja {
   background-color: gainsboro;
   width: 90%;
 }
 
 #logsection {
   margin-left: 18vw;
   margin-top: 2.5vw;
   width: 60%;
   display: grid;
   grid-template-columns: auto auto;
 }
 
 #przypomnienie {
   width: 90%;
 }
 
 #o_nas {
   width: 70%;
   justify-content: center;
   margin-left: 15vw;
 }
 
 .o_nas {
   display: grid;
   grid-template-columns: auto auto;
   color: black;

 }
 
 #zespol_zdj,
 #atmosfera_zdj {
   z-index: -1;
   position: absolute;
 }
 
 #zespol_opis,
 #atmosfera_opis {
   z-index: 0;
   margin-top: 3.5vw;
   font-size: 1rem;
   width: 21vw;
   margin-left: 40.5vw;
   padding: 3.5vw;
   text-align: start;
   background-color: white;
 }
 
 #szczegoly_opis {
   z-index: 0;
   font-size: 1rem;
   background-color: white;
   text-align: start;
   margin-top: 2vw;
   padding: 2vw;
   width: 120%;
   height: 16vw;
 }
 
 #szczegoly_zdj {
   z-index: -1;
   position: relative;
 }
 
 #kontakt_section {
   width: 52.5vw;
   margin-left: 23vw;
 }
 
 #oddziały,
 .rz_i_srem {
   display: grid;
   grid-template-columns: auto auto auto auto;
   text-align: start;
 }
 
 pre::first-letter {
   color: goldenrod;
 }
 
 #p_i_h3 {
   text-align: start;
 }
 
/* Dla urządzeń o szerokości ekranu mniejszej lub równej 480px */
@media (max-width: 480px) {
   body {
     font-size: 14px;
   }
 
   .header {
     padding: 10px;
   }
 
   .sidebar {
     display: none;
   }
 }
 
 /* Dla urządzeń o szerokości ekranu większej niż 480px i mniejszej lub równej 768px */
 @media (min-width: 481px) and (max-width: 768px) {
   body {
     font-size: 16px;
   }
 
   .header {
     padding: 20px;
   }
 
   .sidebar {
     display: block;
     width: 30%;
     float: left;
   }
 
   .content {
     width: 70%;
     float: left;
   }
 }
 
 /* Dla urządzeń o szerokości ekranu większej niż 768px */
 @media (min-width: 769px) {
   body {
     font-size: 18px;
   }
 
   .header {
     padding: 30px;
   }
 
   .sidebar {
     display: block;
     width: 20%;
     float: left;
   }
 
   .content {
     width: 80%;
     float: left;
   }
 }
 
 
 
 